@font-face {
    font-family: 'rockoultraflfregular';
    src: url('../assets/fonts/rockoultraflf-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockoultraflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockoflfregular';
    src: url('../assets/fonts/rockoflf_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockoflf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #f6f8fa;
    font-family: 'rockoflfregular', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85px;
    background-color: #202020;
}

.logoImage {
    position: absolute;
    left: 200px;
    top: 44px;
    height: 100px;
}

@media (max-width: 1440px) {
    .logoImage {
        left: 100px; 
    }
}

@media (max-width: 1320px) {
    .logoImage {
        left: 0;       
        top: 0;        
    }
}

@media (min-width: 1441px) {
    .logoImage {
        left: 200px;   
        top: 44px;     
    }
}

nav {
    display: flex;
    gap: 20px;
}

.navButtons {
    background-color: transparent;
    height: 85px;
    border: none;
    color: white;
    font-family: 'rockoflfregular', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    font-style: normal;
    border-bottom: 2px solid transparent;
}

.navButtons:hover {
    border-bottom: 2px solid #e9b303;
    color: #e9b303;
    cursor: pointer;
}

footer {
    height: 45px;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }