@font-face {
    font-family: 'rockoflfregular';
    src: url('../assets/fonts/rockoflf_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockoflf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%; 
}

body {
    background-color:  #f6f8fa;
    font-family: 'rockoflfregular', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
}

#content {
    flex: 1; 
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85px;
    background-color: #202020;
}

.logoImage {
    position: absolute;
    left: 200px;
    top: 44px;
    height: 100px;
}

@media (max-width: 1440px) {
    .logoImage {
        left: 100px; 
    }
}

@media (max-width: 1320px) {
    .logoImage {
        left: 0;       
        top: 0;        
    }
}

@media (min-width: 1441px) {
    .logoImage {
        left: 200px;   
        top: 44px;     
    }
}

nav {
    display: flex;
    gap: 20px;
}

.navButtons {
    background-color: transparent;
    height: 85px;
    border: none;
    color: white;
    font-family: 'rockoflfregular', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    font-style: normal;
    border-bottom: 2px solid transparent;
}

.navButtons:hover {
    border-bottom: 2px solid #e9b303;
    color: #e9b303;
    cursor: pointer;
}

.slideshowContainer {
    background-image: url('../assets/images/sliderBackground1.png'); /* Designed by Freepik (www.freepik.com) */
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.foodCategories {
    display: flex;
    align-self: center;
    white-space: nowrap;
    padding: 40px;
    gap: 10px;
}

.category {
    height: 65px;
    padding: 10px;
    font-family: 'rockoflfregular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(18, 18, 18, 0.25);
    border: none;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: content-box;
}

.category:hover {
    background-color: rgba(240, 240, 240, 0.25);
}

.category img {
    height: 90%;
    width: auto;
}
  
.carousel-cell {
    width: 888.88px;
    height: 500px;
    margin-right: 80px;
}

.flickity-page-dots {
    bottom: -45px;
}

.flickity-page-dot:focus {
    box-shadow: none;
}

.flickity-prev-next-button:focus {
    box-shadow: none;
}

.slideshowImage {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.featuredItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 300px;
    min-width: 951.5px;
    height: 500px;
    margin-bottom: 80px;
}

.foodItems {
    display: flex;
    margin: 30px;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.foodItem {
    height: 350px;
    width: 30%;
    max-width: 284.84px;
    background-color: #e9b303;
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.itemText {
    padding: 20px;
    color: #0D0D0D;
}

.itemDescription {
    line-height: 1.4;
    padding-top: 8px;
}

.itemImage {
    height: 50%;
}

.menuButton {
    background-color: #e9b303;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    font-family: 'rockoflfregular', sans-serif;
    padding: 10px 30px;
    font-weight: bold;
}

.menuButton:hover {
    background-color: #d49e02;
    cursor: pointer;
}

footer {
    height: 45px;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

a {
    color: inherit; 
    text-decoration: inherit; 
}