@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'rockoflfregular';
    src: url('../assets/fonts/rockoflf_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockoflf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockoultraflfregular';
    src: url('../assets/fonts/rockoultraflf-webfont.woff2') format('woff2'),
         url('../assets/fonts/rockoultraflf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%; 
}

body {
    background-color:  #f6f8fa;
    font-family: 'rockoflfregular', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
}

#content {
    flex: 1; 
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85px;
    background-color: #202020;
}

.logoImage {
    position: absolute;
    left: 200px;
    top: 44px;
    height: 100px;
}

@media (max-width: 1440px) {
    .logoImage {
        left: 100px; 
    }
}

@media (max-width: 1320px) {
    .logoImage {
        left: 10p;       
        top: 0;     
        height: 85px;   
    }
}

@media (min-width: 1441px) {
    .logoImage {
        left: 200px;   
        top: 44px;     
    }
}

nav {
    display: flex;
    gap: 20px;
}

.navButtons {
    background-color: transparent;
    height: 85px;
    border: none;
    color: white;
    font-family: 'rockoflfregular', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    font-style: normal;
    border-bottom: 2px solid transparent;
}

.navButtons:hover {
    border-bottom: 2px solid #e9b303;
    color: #e9b303;
    cursor: pointer;
}

.slideshowContent {
    background-image: url('../assets/images/sliderBackground1.png'); /* Designed by Freepik (www.freepik.com) */
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.foodCategories {
    display: flex;
    align-self: center;
    white-space: nowrap;
    padding: 40px;
    gap: 10px;
}

.category {
    height: 65px;
    padding: 10px;
    font-family: 'rockoflfregular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(18, 18, 18, 0.25);
    border: none;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: content-box;
}

.category:hover {
    background-color: rgba(240, 240, 240, 0.25);
}

.category img {
    height: 90%;
    width: auto;
}
  
.carousel-cell {
    width: 888.88px;
    height: 500px;
    margin-right: 80px;
}

.flickity-page-dots {
    bottom: -45px;
}

.flickity-page-dot:focus {
    box-shadow: none;
}

.flickity-prev-next-button:focus {
    box-shadow: none;
}

.slideshowImage {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.featuredItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 300px;
    min-width: 951.5px;
    height: 500px;
    margin-bottom: 80px;
}

.foodItems {
    display: flex;
    margin: 30px;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.foodItem {
    height: 350px;
    width: 30%;
    max-width: 284.84px;
    background-color: #e9b303;
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.itemText {
    padding: 20px;
    color: #0D0D0D;
}

.itemDescription {
    line-height: 1.4;
    padding-top: 8px;
}

.itemImage {
    height: 50%;
}

.menuButton {
    background-color: #e9b303;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    font-family: 'rockoflfregular', sans-serif;
    padding: 10px 30px;
    font-weight: bold;
}

.menuButton:hover {
    background-color: #d49e02;
    cursor: pointer;
}

footer {
    height: 45px;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

a {
    color: inherit; 
    text-decoration: inherit; 
}

.aboutContent {
    height: 571.8px;
    display: flex;
    justify-content: center;
    background-color: #F5D46D;
    padding: 50px;
}

.aboutContainer {
    height: 100%;
    width: 888.88px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 25px;
    overflow: hidden;
}

.aboutText {
    padding: 40px;
    width: 50%;
    
}

.aboutBody {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 18px 0;
}

.aboutImage {
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: 0 35%;
}

.contactButton {
    background-color: #d62626;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'rockoflfregular', sans-serif;
    padding: 10px 30px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
}

.contactButton:hover {
    background-color: #b41f1f;
    cursor: pointer; 
}


/** Contact page styles **/

.contactHeader {
    background-image: url('../assets/images/sliderBackground1.png'); /* Designed by Freepik (www.freepik.com) */
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.headerText {
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'rockoultraflfregular';
    font-style: normal;
}

.headerSubtext {
    font-size: 25px;
    letter-spacing: 2px;
}

.contactBody {
    display: flex;
    width: 100%;
}

.contactInfo, .contactMessage {
    height: 80vh;
    width: 50%;
}

.contactInfo {
    background-color: #f6f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactGroups {
    display: flex;
    margin: 40px;
    gap: 80px; /* Default for large screens like 1920px */
}

.contactGroups img {
    height: 55px;
}

.contactItem {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contactItem .label {
    font-size: calc(16px + (18 - 16) * ((100vw - 1440px) / (1920 - 1440)));
    font-weight: bold;
    letter-spacing: 1px;
}

.contactItem .value {
    font-family: "Lato", sans-serif;
    font-size: calc(15.5px + (18 - 15.5) * ((100vw - 1440px) / (1920 - 1440)));
}

.mapLocation {
    height: 70%;
    width: 70%;
    overflow: hidden;
    border-radius: 25px;
}

.contactMessage {
    background-color: #F5D46D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.messageHeader {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: calc(44px + (60 - 44) * ((100vw - 1024px) / (1920 - 1024)));
}

.subtext {
    font-family: "Lato", sans-serif;
    font-size: calc(18px + (24 - 18) * ((100vw - 1024px) / (1920 - 1024)));;
}

.formContainer {
    height: 80%;
    width: 75%;
    background-color: white;
    margin-top: 30px;
    border-radius: 25px;
    display: flex;          
    flex-direction: column;
}

.messageForm {
    display: flex;                 
    flex-direction: column;         
    padding: 25px 30px;
    flex-grow: 1;                  
}

.messageForm label {
    font-size: calc(16px + (24 - 16) * ((100vw - 1024px) / (1920 - 1024)));;
    padding: 10px;
}

.messageForm input, .messageForm textarea {
    font-size: calc(15px + (16 - 15) * ((100vw - 1024px) / (1920 - 1024)));;
    padding: calc(10px + (15 - 10) * ((100vw - 1024px) / (1920 - 1024)));;
    border-radius: 8px;
    border: 2px solid black;
}

.messageForm textarea {
    resize: none;
    height: 100%;                               
    flex-grow: 1;               
}

.messageForm button {
    background-color: #d62626;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'rockoflfregular', sans-serif;
    padding: 10px 30px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.messageForm button:hover {
    background-color: #b41f1f;
}

@media (max-width: 1680px) {
    .formContainer {
        margin-top: 40px;
        height: 79%;
        width: 78%;
    }
}

@media (max-width: 1440px) {
    .contactGroups {
        gap: 50px;
    }
    .mapLocation {
        height: 67%;
    }
    .formContainer {
        margin-top: 45px;
        width: 78%;
    }
}
  
@media (max-width: 1024px) {
    .contactGroups {
        gap: 20px;
    }
    .mapLocation {
        height: 60%;
    }
    .formContainer {
        margin-top: 70px;
        height: 70%;
        width: 85%;
    }
}